<!-- Instances -->
  <aside id="instances">
    <header class="clearfix">
      <h4 class="left">Instances</h4>
      <a href="/instances/new" data-toggle="modal" class="right"><i class="icon-plus"></i></a>
    </header>
    <!-- Instance Item -->
    <div class="instance-item clearfix active">
      <div class="vm-img">
        <img src="assets/loader-instance.gif" alt="loader-instance" width="55" height="31" class="instance-loader">
      </div>
      <dl>
        <dt>Instance1-1</dt>
        <dd>
          <div class="attachments">
            <i class="icon-drive"></i>
            <i class="icon-network"></i>
            <i class="icon-lock"></i>
          </div>
        </dd>
      </dl>
    </div>
    <!-- /Instance Item -->
    <!-- Instance Item -->
    <div class="instance-item clearfix">
      <div class="vm-img red"><i class="icon-cross"></i></div>
      <dl>
        <dt>InstanceName&hellip;</dt>
        <dd>
          <div class="attachments">
            <i class="icon-drive"></i>
            <i class="icon-network"></i>
            <i class="icon-lock"></i>
          </div>
        </dd>
      </dl>
    </div>
    <!-- /Instance Item -->
    <div class="instance-item clearfix">
      <div class="vm-img"><i class="icon-cube"></i></div>
      <dl>
        <dt>InstanceName&hellip;</dt>
        <dd>
          <div class="attachments">
            <i class="icon-drive"></i>
            <i class="icon-network"></i>
            <i class="icon-lock"></i>
          </div>
        </dd>
      </dl>
    </div>
    <!-- /Instance Item -->
    <!-- Instance Item -->
    <div class="instance-item clearfix">
      <div class="vm-img red"><i class="icon-cross"></i></div>
      <dl>
        <dt>InstanceName&hellip;</dt>
        <dd>
          <div class="attachments">
            <i class="icon-drive"></i>
            <i class="icon-network"></i>
            <i class="icon-lock"></i>
          </div>
        </dd>
      </dl>
    </div>
    <!-- /Instance Item -->        
    <!-- Instance Item -->
    <div class="instance-item clearfix">
      <div class="vm-img"><i class="icon-cube"></i></div>
      <dl>
        <dt>InstanceName&hellip;</dt>
        <dd>
          <div class="attachments">
            <i class="icon-drive"></i>
            <i class="icon-network"></i>
            <i class="icon-lock"></i>
          </div>
        </dd>
      </dl>
    </div>
    <!-- /Instance Item -->
    <div class="instance-item clearfix">
      <div class="vm-img"><i class=" icon-warning"></i></div>
      <dl>
        <dt>Instance5</dt>
        <dd><small>No Attachments</small></dd>
      </dl>
    </div>
  </aside>
  <!-- /Instances -->
